body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
}

.pokemon-image {
    width: 100px;
    height: 100px;
    margin: auto;
}

#search-input {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}